.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}
.navbar{
  top: 0;
  position: fixed;
}
.image{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a1/Peak_Logo.svg");
  background-repeat:round;
  background-size: 50% 70%;
  opacity: 0.2;
  position: absolute;
  inset: 0;
  z-index: -10;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home{
  display: flex;
  justify-content: center;
  padding: 50px;
  font-weight: 600;
  font-size: larger;
}
.cards{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap: 30px;
  padding: 30px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
